nav.navbar 
    h1.webname Linck Webpage Editor
    if user
        div.navbar-links
            p Hola, #{user.name}
            a(href="/logout") 
                button.logout Cerrar sesión
    else if element
        .navbar-links 
            a(href=`/select-project?pageId=${element.pageId}`)
                | Ir atrás
