section.container
    h2 Crear un proyecto
    form.project-create-form(action="/", method="post")
        .form-element
            label(for="project-name") Nombre
            input#project-name(type="text" , name="project-name", placeholder="Nombre del proyecto" required)
        .form-element
            label(for="project-slug") Slug
            input#project-slug(type="text" , name="project-slug", placeholder="Slug del proyecto" required)
        .form-element
            label(for="project-path") Carpeta en /projects
            input#project-folder(type="text" , name="project-folder", placeholder="Ruta del proyecto" required)
        .form-element
            input(type="submit", value="Crear")
    hr
